:root {
    --color-text: gainsboro;
    --back-color: hsl(60, 2%, 22%);
    --darker-text-color: hsl(60, 2%, 12%)
}

body {
    font-family: helvetica, sans-serif;
    background-color: var(--back-color);
    max-width: 1200px; /* anstatt eine feste Breite zu setzen, verwenden Sie max-width */
    margin: 0 auto; /* zentriert den Inhalt */
}

.navbar {
    display: flex;
    width: 100%;
    height: 79px;
    position: fixed;
    background-color: var(--back-color);
    padding: 0 20px; /* Fügt an den Seiten der Navbar Polster hinzu */

}

.navlist {
    display: inline-flex;
    list-style: none;
    align-items: flex-end;
    padding-left: 30px;
}

.navlist a {
    color: var(--color-text);  /* Macht den Text sichtbar */
    text-decoration: none;  /* Entfernt die Unterstreichung */
}

.navlist a:hover {
    text-decoration: underline;  /* Fügt eine Unterstreichung beim Überfahren mit der Maus hinzu */
}

.button {
    font-weight: 600;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    color: var(--color-text);
    padding-left: 15px;
    text-decoration: underline;
}

.jumbotron {
    height: 900px;
    background-image: url(img-mission-background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

.mission, .description {
    color: var(--color-text);
    text-align: center;
    background-color: var(--back-color);
    width: 100%;
}

.mission {
    font-weight: 1000;
    font-size: clamp(2rem, 5vw, 3rem);
    margin-top: 90px;
}

.description {
    font-weight: 700;
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    margin-bottom: 70px;
}

.teaofmonth-title {
    display: flex;
    justify-content: center;
}

.title_a, .title_b {
    color: var(--color-text);
    text-align: center;
}

.title_a {
    font-size: clamp(1.5rem, 2.5vw, 1.5rem);
}

.title_b {
    font-size: clamp(1.25rem, 2.5vw, 1.5rem);
}

.teaofmonth-pic {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.pic {
    padding: 10px;
}

.pic img {
    width: 300px;
    height: 200px;
}

p {
    color: var(--color-text);
    font-size: clamp(1.25rem, 2.5vw, 1.5rem);
    text-align: center;
}

.locations {
    background-image: url(img-locations-background.jpg);
    background-size: cover;
    background-position: center;
}

.loc-title {
    text-align: center;
    color: var(--color-text);
    padding-top: 20px;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
}

.loc-container {
    display: flex;
    height: 700px;
    justify-content: space-between;
    gap: 5px;
}

/* Gemeinsamer Stil für jede Box */
.downtown, .east, .oakdale {
    flex: 1; /* Sorgt dafür, dass jede Box den gleichen Anteil am verfügbaren Raum hat */
    padding: 10px; /* Fügt einen Innenabstand für jeden Block hinzu. Dies ist optional, kann aber nützlich sein, um den Inhalt etwas zu "atmen" zu lassen. */
    box-sizing: border-box; /* Damit der Innenabstand und die Ränder im Gesamtbreitenberechnung inbegriffen sind */
    color: black;
}

.contact {
    color: var(--color-text);
    text-align: center;
    padding-top: 30px;
    height: 200px;
}

.contact h1 {
    font-size: clamp(1.5rem, 2.5vw, 1.5rem);
}

.contact h5 {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
}

footer p {
    text-align: center;
    color: var(--color-text);
    padding: 30px 0;
}

/* Media Query für Tablets und kleinere Geräte */
@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navlist {
        flex-direction: column;
        gap: 10px;
    }

    .teaofmonth-pic, .loc-container {
        flex-direction: column;
        align-items: center;
    }
}

.loc-container div p {
    color: var(--darker-text-color);
    font-weight: bold;
}

/* Optional: Media Query für noch kleinere Geräte wie Handys */
@media only screen and (max-width: 480px) {
    /* Stile spezifisch für Mobilgeräte */
}
